@font-face {
  font-family: "Rubik";
  src: local("../fonts/Rubik-Regular.ttf"),
    url("../fonts/Rubik-Regular.ttf") format("opentype");
}

@font-face {
  font-family: "Rubik-md";
  src: local("../fonts/Rubik-Medium.ttf"),
    url("../fonts/Rubik-Medium.ttf") format("opentype");
}

@font-face {
  font-family: "Sora-sb";
  src: local("../fonts/Rubik-SemiBold.ttf"),
    url("../fonts/Rubik-SemiBold.ttf") format("opentype");
}
