@import "../../sass/mixins";

.cart {
  display: flex;
  margin-top: 2rem;
  margin-bottom: 2rem;

  h3 {
    font-weight: bold;
  }

  @media (max-width: 1360px) {
    flex-direction: column;
    justify-content: center;
  }
}

.cart__list {
  margin-top: 2rem;
  padding: 0 1rem;

  li {
    a {
      @include flexaligncenter;
      border-bottom: 1px solid var(--color-gray);
      border-radius: var(--border-radius-lg);

      img {
        width: 10rem;
        height: 10rem;
        -o-object-fit: contain;
        object-fit: contain;

        @media (max-width: 535px) {
          width: 7rem;
          height: 7rem;
        }

        @media (max-width: 350px) {
          width: 10rem;
          height: 10rem;
        }
      }

      div {
        margin-left: 1rem;
        width: 60%;

        p {
          @media (max-width: 400px) {
            font-size: 0.8rem;
          }
        }

        button {
          margin-top: 0.5rem;
          background: none;
          color: var(--color-light-red);
        }
      }

      h3 {
        margin-left: 2rem;

        @media (max-width: 400px) {
          margin-left: 1rem;
          font-size: 1.1rem;
        }
      }

      @media (max-width: 350px) {
        display: flex;
        text-align: center;
        flex-direction: column;
      }

      .cart__list__price {
        @media (max-width: 350px) {
          margin-top: 1.5rem;
          margin-bottom: 0.5rem;
        }
      }
    }
  }

  li + li {
    margin-top: 1.5rem;
  }
}

.cart__menu {
  position: fixed;

  width: 15rem;
  height: auto;
  z-index: var(--z-index-10);

  .cart__menu__link {
    margin-top: 3rem;
    width: 100%;
    text-align: center;

    a {
      padding: 1rem 3rem;
      border-radius: var(--border-radius-sm);
      background: var(--color-light-red);
      color: var(--color-white);

      @media (max-width: 525px) {
        padding: 1rem 1rem;
      }
    }

    @media (max-width: 1360px) {
      margin-bottom: 2rem;
      width: auto;
    }
  }

  @media (max-width: 1360px) {
    @include flexaligncenter;

    justify-content: center;
    bottom: 0;
    width: 100%;
    gap: 1rem;

    background: var(--color-white);
    border-top: 1px solid var(--color-gray);
  }

  @media (max-width: 426px) {
    margin-left: -1rem;
  }
}

.cart__menu__total {
  @include flexaligncenter;
  justify-content: space-between;
  margin-top: 2rem;

  @media (max-width: 1360px) {
    justify-content: start;

    width: auto;
    gap: 1rem;
    margin-top: 0;

    div {
      display: flex;
    }
  }

  @media (max-width: 426px) {
    gap: 0.5rem;
  }

  p {
    span {
      @media (max-width: 371px) {
        display: none;
      }
    }

    @media (max-width: 320px) {
      display: none;
    }
  }
}

.cart__menu__title {
  @media (max-width: 685px) {
    display: none;
  }
}
